.FullHowToPlay
{
    width: fit-content;
    height: fit-content;
    overflow: auto;
    border: 1px solid black;
    position: absolute;
    left: 40%;
}

img
{
    width: 200px;
    height: 200px;
}

span
{
    display: block;
    text-align: center;
}