.FullHowToPlay
{
    width: fit-content;
    height: fit-content;
    overflow: auto;
    position: absolute;
    left: 40%;
}

.imgGuide
{
    width: 200px;
    height: 200px;
}

.GuideText
{
    display: block;
    text-align: center;
}

.btnMenu
{
    background-color: blue;
    border: transparent;
}