.BlockImage
{
    width: 5%;
    height: 5%;
    position: absolute;
}

.PlayerImage
{
    width: 10%;
    height: 10%;
    position: absolute;
}

.EnemyImage
{
    width: 10%;
    height: 10%;
    position: absolute;
}