.MenuDiv
{
    position: absolute;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 45%;
}

.btnMenu
{
    background-color: blue;
    border: transparent;
}

.NavMenu
{
   position: absolute;
   left: 45%;
   top: 45%;
}